CARDS! \o/
<hr>

<div>
<% @cards.each do |card| %>
  id: <%= card.id %><br>
  title: <%= card.title %><br>
  description<%= card.description %><br>
  <br>
<% end %>
</div>


<br> <%= link_to "criar card", new_card_path %>
